@import "reset";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=all);

@mixin media($width) {
	@media only screen and (max-width: $width) {
		@content
	}
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #fff;
	font-size: 14pt;
	position: relative;
	overflow-x: hidden;
	background: url("img/bg-header.jpg") no-repeat top center;
	height: 800px;
	line-height: 1.5;
	min-width: 300px;

	&.open-menu {
		overflow: hidden;
	}
}

#page-preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 100500;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.logo-loader {
		height: 110px;
		width: 252px;
		background: url("img/logo.png") no-repeat;
	}
}

.inner {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

header {
	width: 100%;
	height: 48px;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;

	.menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;

		@include media(768px) {
			display: none;
		}

		&-item {
			padding: 0 20px;
			font-size: 0.8em;

			a {
				color: #f1f1f1;
				text-decoration: none;
				cursor: pointer;
				transition: 0.6s color;

				&.active {
					color: #fff900;
				}

				&:hover {
					color: #fff;
				}
			}
		}

		&-burger {
			position: relative;
			width: 48px;
			height: 48px;
			cursor: pointer;
			display: none;

			@include media(768px) {
				width: 48px;
				height: 48px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: relative;
				transform: rotate(0deg);
				cursor: pointer;

				margin-left: 10px;
			}

			&-line {
				display: block;
				width: 20px;
				height: 3px;
				background-color: #fff;
				opacity: 1;
				transform: rotate(0deg);
				border-radius: 9px;
				transition: .25s ease-in-out;
				position: relative;
				left: 0;

				&:nth-child(1) {
					transform: translateY(-3px);
				}
				&:nth-child(2) {
					transform: translateY(0);
				}
				&:nth-child(3) {
					transform: translateY(3px);
				}
			}
		}
	}
	&.open {
		background: none;
		.menu {
			&-burger {
				z-index: 3;

				&-line {
					position: relative;
					left: -3px;

					&:nth-child(1) {
						transform: rotate(135deg) translateY(-4px);
					}

					&:nth-child(2) {
						opacity: 0;
						transform: translateX(-20px);
					}

					&:nth-child(3) {
						transform: rotate(-135deg) translateY(4px);
					}
				}
			}
		}
		.menu {
			display: flex;
			flex-direction: column;
			width: 100%;
			position: fixed;
			top: 0;
			z-index: 2;
			background-color: rgba(0,0,0,0.8);
			overflow-x: hidden;
			overflow-y: auto;
			height: 100%;
			padding: 10px;

			&-item {
				font-size: 2em;
				padding: 5px;
			}
		}
	}
}

.main {
	z-index: 1;
	display: flex;
	height: 500px;

	@include media(500px) {
		height: 250px;
	}

	.inner {
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: center;
		justify-content: center;

		.logo {
			height: 110px;
			width: 252px;
			background: url("img/logo.png") no-repeat;
			text-indent: 9999px;
			overflow: hidden;

			@include media(500px) {
				margin-top:48px;
			}
		}
	}
	.button-bottom-link {
		position: absolute;
		bottom: 10px;

		@include media(500px) {
			display: none;
		}
	}

	.buttom-bottom {
		background: url("img/Weehal.png") no-repeat;
		height: 67px;
		width: 67px;
		opacity: 0.6;
		transition: 0.6s opacity;
		cursor: pointer;
		margin-top: 80px;

		&:hover {
			opacity: 1;
		}
	}
}

.services {
	color: #232323;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 1) 100%);
	padding: 30px;

	@include media(500px) {
		padding: 20px;
	}

	&-title {
		font-size: 2em;
		text-transform: uppercase;
		text-align: center;
		font-weight: 300;

		@include media(500px) {
			font-size: 1.3em;
		}
	}

	&-items {
		display: flex;
		flex-direction: row;
		justify-content: center;

		@include media(1160px) {
			flex-wrap: wrap;
		}
	}

	&-item {
		padding: 60px 30px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include media(500px) {
			padding: 20px;
			width: 50%;
		}

		&-icon {
			height: 112px;
			width: 112px;
			background-repeat: no-repeat;

			@include media(500px) {
				transform: scale(0.8);
			}

			&.icon-strategy {
				background-image: url("img/icon/strategy.png");
			}

			&.icon-consulting {
				background-image: url("img/icon/consulting.png");
			}

			&.icon-tech {
				background-image: url("img/icon/tech.png");
			}

			&.icon-operations {
				background-image: url("img/icon/operations.png");
			}

			&.icon-regulations {
				background-image: url("img/icon/regulations.png");
			}

			&.icon-industry {
				background-image: url("img/icon/industry.png");
			}
		}
		&-name {
			padding-top: 10px;
			font-size: 1.3em;
			text-transform: uppercase;

			@include media(500px) {
				font-size: 1em;
			}
		}
	}
}

#products {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;

	.row {

		&-content {
			display: flex;
			flex-direction: row;
			max-width: 1200px;
			margin: 0 auto;

			@include media(940px) {
				flex-direction: column;
			}

			.left {
				flex: 2;
				position: relative;

				@include media(500px) {
					flex: auto;
				}

				&.shehails {
					flex: 1 60%;
					width: 100%;
					height: 500px;
					padding: 20px;

					@include media(640px) {
						height: 400px;
					}

					&:before {
						background: #fff url("img/products/shehails.jpg") no-repeat right top;

						@include media(640px) {
							background: #fff url("img/products/shehails-mobile.jpg") no-repeat right top;
						}
					}

					.row-wrapper {
						padding: 20px;
					}

					.row-logo {
						background-image: url('img/products/logo/shehails.png');
						width: 192px;
						height: 60px;
						margin: 5px 0;
					}

					.row-title {
						color: #e92f9d;
						font-size: 1.5em;
						text-transform: uppercase;
						margin-bottom: 10px;

						@include media(500px) {
							font-size: 1.2em;
						}
					}

					.row-description {
						font-weight: 300;
						font-size: 1.1em;
						color: #ff58bb;

						@include media(500px) {
							font-size: 0.9em;
						}
					}
				}

				&.asm {
					flex: 1 30%;
					width: 100%;
					height: 564px;
					padding: 20px;

					@include media(768px) {
						height: 450px;
					}

					&:before {
						background: #ffffff url("img/products/asm.png") no-repeat bottom right;
					}

					.row-wrapper {
						padding: 20px;
					}

					.row-logo {
						background-image: url('img/products/logo/asm.png');
						width: 215px;
						height: 47px;
						margin: 5px 0;
					}

					.row-title {
						color: #a03a4a;
						font-size: 1.2em;
					}

					.row-description {
						font-weight: 300;
						font-size: 1.1em;
						color: #a03a4a;
						margin-bottom: 5px;
					}
				}

				&.agro {
					flex: 1 50%;
					width: 100%;
					height: 490px;
					padding: 20px;

					&:before {
						background: #ffffff url("img/products/agro.jpg") no-repeat center right;
						background-size: cover;

						@include media(500px) {
							background: url(img/products/agro.jpg) -130px 0px no-repeat #fff;
						}

						@include media(400px) {
							background: url(img/products/agro.jpg) -290px 0px no-repeat #fff;
						}
					}

					.row-wrapper {
						padding: 20px;
					}

					.row-logo {
						background-image: url('img/products/logo/agro.png');
						width: 430px;
						height: 70px;
						margin: 5px 0 20px;

						@include media(464px) {
							transform: scale(0.8);
							margin-left: -30px;
						}

						@include media(370px) {
							transform: scale(0.6);
							margin-left: -80px;
						}
					}

					.row-title {
						color: #232323;
						font-size: 2em;
						text-transform: uppercase;

						@include media(600px) {
							font-size: 1.5em;
						}
					}

					.row-description {
						font-weight: 300;
						font-size: 1.4em;
						color: #232323;
						text-transform: uppercase;

						@include media(600px) {
							font-size: 1.1em;
						}
					}
				}

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					z-index: -1;
					background-color: #aff;
					width: 200%;
					height: 100%;
				}
			}

			.right {
				flex: 1;
				position: relative;

				&.helpbot {
					flex: 1 40%;
					width: 100%;
					height: 500px;
					padding: 20px;

					&:before {
						background-size: cover;
						background: #66cac2 url("img/products/helpbot.jpg") no-repeat center left;

						@include media(500px) {
							background-position: center 0px;
						}
					}

					.row-wrapper {
						padding: 20px;
					}

					.row-logo {
						background-image: url('img/products/logo/helpbot.png');
						width: 149px;
						height: 60px;
						margin: 5px 0;
					}

					.row-title {
						color: #fff;
						font-size: 1.5em;
						text-transform: uppercase;

						@include media(500px) {
							font-size: 1.3em;
						}
					}

					.row-description {
						font-weight: 300;
						font-size: 1.3em;
						color: #fff;
						margin-bottom: 5px;
						text-transform: uppercase;

						@include media(500px) {
							font-size: 1em;
						}
					}
				}

				&.sentry {
					flex: 1 70%;
					width: 100%;
					height: 564px;
					padding: 20px;

					@include media(800px) {
						height: 100%;
					}

					&:before {
						background: #e3ebef url("img/products/sentry.jpg") no-repeat bottom left;

						@include media(800px) {
							background: none;
							background-color: #e3ebef;
						}
					}

					.row-wrapper {
						padding: 20px;
					}

					.row-logo {
						background-image: url('img/products/logo/sentry.png');
						width: 170px;
						height: 80px;
						margin: 5px 0;
					}

					.row-title {
						color: #232323;
						font-size: 1.3em;
						text-transform: uppercase;
					}

					.row-description {
						font-size: 1.1em;
						color: #232323;
						margin-bottom: 5px;
					}
					.row-img {
						display: none;

						@include media(800px) {
							display: block;
						}
					}
				}

				&.tickets {
					flex: 1 50%;
					width: 100%;
					height: 490px;
					padding: 20px;

					&:before {
						background-size: cover;
						background: #e3ebef url("img/products/tickets.jpg") no-repeat center left;
					}

					.row-wrapper {
						padding: 20px;
					}

					.row-logo {
						background-image: url('img/products/logo/tickets.png');
						width: 267px;
						height: 65px;
						margin: 5px 0 40px;
					}

					.row-title {
						color: #fff;
						font-size: 2em;
						text-transform: uppercase;
					}

					.row-description {
						font-size: 1.4em;
						font-weight: 300;
						color: #fff;
						text-transform: uppercase;
					}
				}

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					background-color: #faf;
					width: 200%;
					height: 100%;
				}
			}
		}

		&-logo {
			background-repeat: no-repeat;
		}
	}

	.product {

		&-row {
			display: flex;
			flex-direction: row;
		}
		&-wrapper {
			width: 100%;
			margin: 0 auto;
			max-width: 1200px;
		}

		&-logo {
			background-repeat: no-repeat;
		}

		&-weehails {
			flex: 1 40%;
			background: #66c9c1 url("img/products/weehail.jpg") no-repeat center;
			width: 100%;
			height: 445px;

			@include media(600px) {
				background:  #66c9c1 url(img/products/weehail-mobile.jpg) -190px -390px no-repeat;
			}

			.product-wrapper {
				padding: 20px;
			}

			.product-logo {
				background-image: url('img/products/logo/weehail.png');
				width: 212px;
				height: 57px;
				margin: 5px 0;
			}

			.product-title {
				color: #fff;
				font-size: 2em;
				text-transform: uppercase;

				@include media(500px) {
					font-size: 1.3em;
				}
			}

			.product-description {
				font-weight: 300;
				font-size: 1.3em;
				color: #fff;
				margin-bottom: 5px;

				@include media(500px) {
					font-size: 1em;
				}
			}
		}

		&-taxicomplex {
			flex: 1 40%;
			background: #ffc61b;
			width: 100%;
			height: 445px;

			@include media(1040px) {
				height: 100%;
			}

			.product-wrapper {
				padding: 20px;
				position: relative;
			}

			.product-logo {
				background-image: url('img/products/logo/taxicomplex.png');
				width: 228px;
				height: 70px;
				margin: 5px 0;
			}

			.product-title {
				color: #232323;
				font-size: 2em;
				text-transform: uppercase;
			}

			.product-description {
				font-weight: 300;
				font-size: 1.3em;
				color: #232323;
				margin-bottom: 5px;
				text-transform: uppercase;
			}

			.product-img {
				position: absolute;
				top: 50%;
				right: 0;

				@include media(1040px) {
					position: relative;

					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}

#history {

	.timeline {

		&-title {
			font-size: 2em;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			padding: 40px 0;
			color: #232323;
		}
	}

	.history {
		display: flex;
		flex-direction: column;
		padding: 0 20px;

		@include media(740px) {
			padding: 0;
		}

		&-heading {
			text-align: center;
			margin-bottom: 70px;
		}

		&-item {
			display: flex;
			flex-direction: row;
			margin-bottom: 30px;
			border-top: 1px solid #768b96;

			@include media(740px) {
				flex-direction: column;
			}

			&:first-child {

				@include media(740px) {
					border: none;
				}
			}

			.clear-border {
				background-color: #fff;
				height: 40px;
				position: absolute;
				top: 100px;
				left: -400px;
				width: 1000px;

				@include media(740px) {
					display: none;
				}
			}

			&.center {
				flex-direction: column;
				align-items: center;
				border-top: none;

				.history-item-year {
					order: initial;
				}

				.history-item-description {
					padding: 0 20%;

					@include media(740px) {
						padding: 0 20px;
					}
				}

				@include media(740px) {
					border-top: 1px solid #768b96;;
				}

			}

			&-center {
				text-align: center;
			}
			&-arrow {
				position: relative;
				width: 100%;
				height: 100%;
				top: -60px;
				z-index: -1;

				@include media(740px) {
					display: none;
				}

				&:before {
					content: '';
					position: absolute;
					border-left: 1px solid #768b96;
					height: 100%;
					bottom: 10px;
					left: 50%;
				}
				&:after {
					content: '';
					position: absolute;
					border: 6px solid transparent;
					border-top-color: #768b96;
					bottom: 0;
					margin-left: -5px;
					transform: scale(.5, 2);
				}
			}
			&-year {
				font-size: 2em;
				position: relative;
				top: -30px;
				background-color: #fff;
				padding: 0 20px;
				font-weight: 300;

				@include media(740px) {
					top:0;
					order: 1;
				}
			}

			&-left {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				flex: 1;
				position: relative;
				top: -50px;

				&.fix-two-colums {
					display: flex;
					flex-direction: column;

					@include media(740px) {
						display: flex;
						flex-direction: column;
					}

					.history-item-lefts {
						display: flex;
						flex-direction: column;

						@include media(740px) {
							flex-direction: row;
						}
					}
				}

				@include media(740px) {
					flex-direction: row;
					justify-content: flex-start;
					align-items: flex-start;
					top:0;
					text-align: left;
					order: 3;
				}

				.history-item-icon-wrap {
					padding-left: 30%;
					margin-right: 50px;
					padding-right: 40px;

					@include media(740px) {
						padding-left: 30px;
						margin-right: 15px;
						padding-right: 0;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					@include media(400px) {
						transform: scale(0.8);
						padding-left: 0;
						margin-left: 10px;
						padding-right: 10px;
						margin-right: 0;
					}
				}
			}
			&-right {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				flex: 1;
				position: relative;
				top: -50px;

				@include media(740px) {
					flex-direction: row;
					justify-content: flex-start;
					align-items: flex-start;
					top:0;
					text-align: right;
					order: 2;
				}

				.history-item-icon-wrap {
					padding-right: 30%;
					margin-left: 50px;
					padding-left: 40px;

					@include media(740px) {
						padding-right: 10px;
						margin-left: 15px;
						padding-left: 15px;
						order:2;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					@include media(400px) {
						transform: scale(0.8);
						padding-right: 10px;
						margin-left: 10px;
						padding-left: 0;
					}
				}
			}

			&-icon {
				width: 150px;
				height: 150px;
				background-repeat: no-repeat;

				&.first-icon {
					background-image: url('img/history/1.png');
					height: 90px;
					width: 64px;
				}

				&.two-icon {
					background-image: url('img/history/2.png');
					height: 100px;
					width: 80px;
				}

				&.three-icon {
					background-image: url('img/history/3.png');
					height: 90px;
					width: 100px;
				}

				&.four-icon {
					background-image: url('img/history/4.png');
					height: 110px;
					width: 74px;
				}

				&.five-icon {
					background-image: url('img/history/5.png');
					height: 90px;
					width: 72px;
				}

				&.six-icon {
					background-image: url('img/history/6.png');
					height: 90px;
					width: 64px;
				}

				&.seven-icon {
					background-image: url('img/history/7.png');
					height: 90px;
					width: 64px;
				}

				&.eighth-icon {
					background-image: url('img/history/8.png');
					height: 90px;
					width: 104px;
				}

				&.nine-icon {
					background-image: url('img/history/9.png');
					height: 90px;
					width: 104px;
					background-position: center;
				}

				&.ten-icon {
					background-image: url('img/history/10.png');
					height: 110px;
					width: 134px;
				}

				&.eleven-icon {
					background-image: url('img/history/11.png');
					height: 90px;
					width: 74px;
				}

				&.twenty-icon {
					background-image: url('img/history/12.png');
					height: 90px;
					width: 64px;
				}

				&.thirteen-icon {
					background-image: url('img/history/13.png');
					height: 110px;
					width: 134px;
				}

				&.fourteen-icon {
					background-image: url('img/history/14.png');
					height: 130px;
					width: 64px;
				}

				&.fifteen-icon {
					background-image: url('img/history/15.png');
					height: 90px;
					width: 125px;
				}

				&.sixteen-icon {
					background-image: url('img/history/16.png');
					height: 90px;
					width: 74px;
				}

				&.seventeen-icon {
					background-image: url('img/history/17.png');
					height: 120px;
					width: 84px;
				}

				&-wrap {
					background-color: white;
				}
			}
			&-description {
				margin: 10px 0;
				font-weight: 300;
				font-size: 1em;

				@include media(740px) {
					padding-left: 20px;
				}
				@include media(400px) {
					padding-left: 5px;
				}
			}

		}

	}
}

#progress {
	background-color: #f1f1f1;
	padding: 20px 0 80px;
	position: relative;

	@include media(500px) {
		padding: 20px 0 100px;
	}

	.cup-bg {
		background: url("img/cup.png") no-repeat;
		height: 140px;
		width: 105px;
		position: absolute;
		left: 50%;
		bottom: -80px;
		transform: translateX(-50%);

		@include media(500px) {
			bottom: -100px;
		}
	}

	.progress {

		&-title {
			font-size: 2em;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			padding: 20px 0;
			color: #232323;
		}

		&-items {
			display: flex;
			flex-direction: row;

			@include media(1150px) {
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 80px 30px;
			border: 5px solid #dedede;
			margin-right: 10px;
			margin-top: 20px;
			width: 20%;

			@include media(1150px) {
				width: 30%;
			}

			@include media(768px) {
				width: 45%;
			}

			@include media(500px) {
				width: 85%;
				padding: 40px;
			}

			&:last-child {
				margin-right: 0;
			}

			.number {
				font-size: 5em;
				font-weight: 200;
				line-height: 1;
				text-align: center;

				small {
					margin-left: -12px;
					font-size: 0.3em;
					font-weight: 300;
				}
			}

			.small {
				font-size: 2em;
				font-weight: 300;
			}

			.description {
				font-size: 1em;
				text-align: center;
			}
		}
	}
}

.map {
	background-color: #fff;
	padding: 40px;

	&-title {
		font-size: 3em;
		line-height: 1;
		color: #000;
		text-transform: uppercase;
		text-align: center;
		strong {
			font-size: 1.3em;
		}

		@include media(600px) {
			font-size: 2em;
		}
	}

	&-img {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: auto;
		}
	}
}

#team {
	background-color: #1f2f37;
	width: 100%;
	padding: 30px;

	.team {
		padding: 20px 0;

		&-title {
			font-size: 2.5em;
			font-weight: 300;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
		}

		&-items {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			width: 100%;

			@include media(768px) {
				flex-wrap: wrap;
			}
		}

		&-item {
			width: 30%;
			margin-right: 20px;
			color: #fff;
			margin-top: 20px;

			@include media(768px) {
				width: 100%;
				margin-right: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			.avatar {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				img {
					border: 10px solid #dedede;
					border-radius: 50%;
				}
			}

			.name {
				font-size: 1.2em;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				padding: 20px 0;

				@include media(768px) {
					font-size: 2em;
					font-weight: 300;
				}
			}

			.description {
				font-weight: 300;

				&-caption {
					font-weight: 400;
					text-transform: uppercase;
				}
			}
		}
	}
}

#mission {
	padding: 100px 0 80px;

	@include media(600px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.mission {

		&-title {
			font-size: 2.5em;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
			color: #232323;

			@include media(600px) {
				font-size: 1.5em;
			}
		}

		&-description {
			padding: 20px 0;

			@include media(1200px) {
				padding: 20px;
			}
		}

		&-items {
			display: flex;
			flex-direction: column;
		}

		&-item {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-right: 20px;

			@include media(800px) {
				align-items: flex-start;
				padding: 20px;
			}

			.mission-icon {
				background-repeat: no-repeat;
				background-position: center;
				width: 100px;
				height: 100px;
				flex: 1 10%;

				@include media(800px) {
					flex: 1 20%;
				}

				&-one {
					background-image: url('img/mission/1.png');
				}

				&-two {
					background-image: url('img/mission/2.png');
				}

				&-three {
					background-image: url('img/mission/3.png');
				}

				&-four {
					background-image: url('img/mission/4.png');
				}

				&-five {
					background-image: url('img/mission/5.png');
				}

				&-six {
					background-image: url('img/mission/6.png');
				}

				&-seven {
					background-image: url('img/mission/7.png');
				}
			}

			.mission-info {
				margin-left: 10px;
				flex: 1 90%;

				@include media(800px) {
					flex: 1 80%;
				}
			}
		}
	}
}

#media, #partners {
	.media, .partners {

		&-title {
			font-size: 2.5em;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			color: #232323;
		}

		&-img {
			padding: 20px;
			img {
				width: 100%;
				height: auto;
			}

			@include media(600px) {
				display: none;
			}
		}

		&-img-mobile {
			display: none;
			padding: 20px;

			@include media(600px) {
				display: block;
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

#partners {
	padding: 80px 0 60px;

	@include media(600px) {
		padding: 10px 0 30px;
	}
}

#contacts {
	background: url('img/bg-contact.jpg') no-repeat center;
	height: 684px;

	@include media(800px) {
		height: auto;
		font-size: 0.8em;
	}

	.contacts {


		&-title {
			font-size: 2.5em;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			padding: 40px 0 60px;
		}

		&-items {
			display: flex;
			flex-direction: row;
			justify-content: center;


			@include media(800px) {
				flex-wrap: wrap;
				padding: 0 0 40px 0;
			}
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 40%;
			margin-right: 40px;

			@include media(800px) {
				width:100%;
				margin-top: 20px;
				margin-right: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&-photo {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			img {
				border: 10px solid #dedede;
				border-radius: 50%;
			}
		}

		&-name {
			font-size: 2em;
			color: #fff;
			text-transform: uppercase;
			padding: 20px 0;
			font-weight: 300;
			width: 100%;
			text-align: center;
		}

		&-phone {
			display: flex;
			flex-direction: row;
			align-items: center;

			&-number {
				flex: 1 85%;
				color: #fff;
				font-size: 1.6em;
				padding-right: 10px;
				white-space: nowrap;
			}

			&-flag {
				flex: 1 15%;
				background-repeat: no-repeat;
				background-position: center;
				height: 30px;
				width: 45px;

				&.ru {
					background-image: url("img/flag/ru.png");
				}

				&.us {
					background-image: url("img/flag/us.png");
				}

				&.ge {
					background-image: url("img/flag/ge.png");
				}
			}
		}
		&-email {

			a {
				color: #fff;
				font-size: 1.6em;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
}

footer {
	height: 70px;
	background-color: #2b2b2b;

	.inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 20px;

		.left {
			display: flex;
			flex-direction: row;

			.copy {
				color: #f1f1f1;
				padding-right: 40px;

				@include media(540px) {
					display: none;
				}
			}

			.social {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				a {
					padding-right: 30px;
					text-indent: -9999px;
					overflow: hidden;
					display: block;
					height: 30px;
					width: 34px;
					opacity: 0.6;
					transition: 0.6s opacity;
					cursor: pointer;

					&:hover {
						opacity: 1;
					}

					&.social {

						&-vk {
							background: url("img/social/vk.png") no-repeat center;
							margin-right: 10px;
						}

						&-fb {
							background: url("img/social/fb.png") no-repeat center;
						}

						&-insta {
							background: url("img/social/instagram.png") no-repeat center;
						}
					}
				}
			}
		}
		.right {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@include media(350px) {
				font-size: 0.6em;
			}
			.abro {
				font-size: 1em;
				font-weight: 300;
				color: #f1f1f1;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				&-logo {
					background: url("img/abrologo.png") no-repeat center;
					width: 71px;
					height: 15px;
					margin-left: 10px;
				}
			}
			.copy {
				display: none;

				@include media(540px) {
					display: block;
					color: #f1f1f1;
					padding-right: 40px;
				}
			}
		}

	}
}